<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<%= link_to '<button type="button">Go Back</button>'.html_safe, root_path %>
<h1>Sports ____ :<%= link_to '<button type="button">Cricket</button>'.html_safe, crickets_path %><%= link_to '<button type="button">Football</button>'.html_safe, footballs_path %></h1>

<h1>Movies ____ :<%= link_to '<button type="button">Bollywood</button>'.html_safe, bollywoods_path %><%= link_to '<button type="button">Hollywood</button>'.html_safe, hollywoods_path %></h1>

