<%= form_with(model: hollywood, local: true) do |form| %>
  <% if hollywood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hollywood.errors.count, "error") %> prohibited this hollywood from being saved:</h2>

      <ul>
      <% hollywood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Q_type %>
    <%= form.text_field :Q_type, id: :hollywood_Q_type %>
  </div>

  <div class="field">
    <%= form.label :Ques %>
    <%= form.text_field :Ques, id: :hollywood_Ques %>
  </div>

  <div class="field">
    <%= form.label :opt1 %>
    <%= form.text_field :opt1, id: :hollywood_opt1 %>
  </div>

  <div class="field">
    <%= form.label :opt2 %>
    <%= form.text_field :opt2, id: :hollywood_opt2 %>
  </div>

  <div class="field">
    <%= form.label :opt3 %>
    <%= form.text_field :opt3, id: :hollywood_opt3 %>
  </div>

  <div class="field">
    <%= form.label :opt4 %>
    <%= form.text_field :opt4, id: :hollywood_opt4 %>
  </div>

  <div class="field">
    <%= form.label :ans %>
    <%= form.text_field :ans, id: :hollywood_ans %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
